In [84]:
import pandas as pd


healthcare_users = pd.read_csv('../Datasets/NSMES1988.csv')

healthcare_users.info()

healthcare_users.head(20)

#rename Unnamed column
df = healthcare_users.rename( columns={'Unnamed: 0':'Id'})

df.head(20)

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int64
 1   visits      4406 non-null   int64
 2   nvisits     4406 non-null   int64
 3   ovisits     4406 non-null   int64
 4   novisits    4406 non-null   int64
 5   emergency   4406 non-null   int64
 6   hospital    4406 non-null   int64
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int64
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float64
 12  afam        4406 non-null   object
 13  gender      4406 non-null   object
 14  married     4406 non-null   object
 15  school      4406 non-null   int64
 16  income      4406 non-null   float64
 17  employed    4406 non-null   object
 18  insurance   4406 non-null   object
 19  medicaid    4406 non-null   object
dtypes: float64(2), int64(9), object(9)
memory usage: 688.6+ KB

,Id,visits,nvisits,ovisits,novisits,emergency,hospital,chronic,age,school,income
count,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000
mean,2203.500000,5.774399,1.618021,0.750794,0.536087,0.263504,0.295960,1.541988,7.402406,10.290286,2.527132
std,1272.046972,6.759225,5.317056,3.652759,3.879506,0.703659,0.746398,1.349632,0.633405,3.738736,2.924648
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.600000,0.000000,-1.012500
25%,1102.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.900000,8.000000,0.912150
50%,2203.500000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,7.300000,11.000000,1.698150
75%,3304.750000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,7.800000,12.000000,3.172850
max,4406.000000,89.000000,104.000000,141.000000,155.000000,12.000000,8.000000,8.000000,10.900000,18.000000,54.835100

In [85]:

df['income'].quantile(0.25)

df['age'].value_counts()

age
6.6     350
6.7     338
6.8     296
6.9     293
7.0     291
7.2     281
7.1     269
7.3     253
7.4     249
7.5     214
7.6     210
7.7     196
7.8     183
7.9     147
8.1     117
8.2     116
8.0     110
8.3     109
8.4      73
8.5      64
8.6      57
8.7      33
8.8      33
8.9      28
9.0      23
9.1      20
9.2      13
9.3      12
9.4       9
9.5       7
9.6       5
9.7       2
10.2      2
10.9      1
9.9       1
9.8       1
Name: count, dtype: int64

In [86]:

#Convert dataset to JSON file
df.to_json('NSMES1988.json')

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         4406 non-null   int64
 1   visits     4406 non-null   int64
 2   nvisits    4406 non-null   int64
 3   ovisits    4406 non-null   int64
 4   novisits   4406 non-null   int64
 5   emergency  4406 non-null   int64
 6   hospital   4406 non-null   int64
 7   health     4406 non-null   object
 8   chronic    4406 non-null   int64
 9   adl        4406 non-null   object
 10  region     4406 non-null   object
 11  age        4406 non-null   float64
 12  afam       4406 non-null   object
 13  gender     4406 non-null   object
 14  married    4406 non-null   object
 15  school     4406 non-null   int64
 16  income     4406 non-null   float64
 17  employed   4406 non-null   object
 18  insurance  4406 non-null   object
 19  medicaid   4406 non-null   object
dtypes: float64(2), int64(9), object(9)
memory usage: 688.6+ KB

In [88]:
#save data set
df.to_csv('NSMES1988new.csv', index=False, encoding='')  # Index will determi

df.describe()

,Id,visits,nvisits,ovisits,novisits,emergency,hospital,chronic,age,school,income
count,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000,4406.000000
mean,2203.500000,5.774399,1.618021,0.750794,0.536087,0.263504,0.295960,1.541988,7.402406,10.290286,2.527132
std,1272.046972,6.759225,5.317056,3.652759,3.879506,0.703659,0.746398,1.349632,0.633405,3.738736,2.924648
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.600000,0.000000,-1.012500
25%,1102.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.900000,8.000000,0.912150
50%,2203.500000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,7.300000,11.000000,1.698150
75%,3304.750000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,7.800000,12.000000,3.172850
max,4406.000000,89.000000,104.000000,141.000000,155.000000,12.000000,8.000000,8.000000,10.900000,18.000000,54.835100

In [89]:
# delete columns
del df['Id']


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   visits     4406 non-null   int64
 1   nvisits    4406 non-null   int64
 2   ovisits    4406 non-null   int64
 3   novisits   4406 non-null   int64
 4   emergency  4406 non-null   int64
 5   hospital   4406 non-null   int64
 6   health     4406 non-null   object
 7   chronic    4406 non-null   int64
 8   adl        4406 non-null   object
 9   region     4406 non-null   object
 10  age        4406 non-null   float64
 11  afam       4406 non-null   object
 12  gender     4406 non-null   object
 13  married    4406 non-null   object
 14  school     4406 non-null   int64
 15  income     4406 non-null   float64
 16  employed   4406 non-null   object
 17  insurance  4406 non-null   object
 18  medicaid   4406 non-null   object
dtypes: float64(2), int64(8), object(9)
memory usage: 654.1+ KB

In [91]:
df['visits','nvisits','ovisits','novisits','emergency','hospital','chronic','school'].astype('int16')

KeyError: ('visits', 'nvisits', 'ovisits', 'novisits', 'emergency', 'hospital', 'chronic', 'school')

# We were able to save about 200kb of space by casting our int16 values into int16

In [ ]:
## Change the age into integer and scale to 10's
# df['age']*=10
df['age'] = df['age'].apply(lambda x: x*10).astype('int16')


df['income'] = df['income'].apply(lambda x: x*10_000).astype('int64')
df['income']

0       28809
1       27477
2        6532
3        6588
4        6588
        ...
4401    22496
4402    58132
4403    38779
4404    38779
4405    65968
Name: income, Length: 4406, dtype: int64

In [ ]:
df.describe()
df['age'].mean()

74.02405810258738

In [ ]:
df.school.value_counts()

school
12    1252
8      684
10     289
16     250
14     238
9      234
11     227
7      221
6      173
13     172
18     106
0      103
5      103
4      100
15      86
3       71
17      46
2       38
1       13
Name: count, dtype: int64

In [ ]:
df.region.value_counts()

region
other        1614
midwest      1157
northeast     837
west          798
Name: count, dtype: int64

In [ ]:
df